.circle-image {
  display: block;
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 10px;
}
.circle-image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover ;
} 

#cabecalho {
  margin-block-end: 10px;
  border-bottom: 80px solid #ffe69d;
}